@charset "UTF-8";

html {
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#menu {
}

#btnQuit {
    font-size: 20px;
}

#btnStart {
    font-size: 60px;
    position: relative;
}

#inputCSV {
    display: none;
}

#buttons {
    margin: 0 auto;
}

#genres {
    text-align: left;
    margin: 0 30px;
}

.td_genre {
    padding: 0 10px;
}

.btn_quiz {
    width: 80px;
    height: 80px;
    font-size: 50px;
    padding: 0;
    margin: 1px;
}

.btn_quiz_before_answer {
    border-radius: 40px;
}

.btn_quiz_after_answer {
    border-radius: 0px;
}

.btn_answer_choice {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    display: block;
}

.btn_answer_choice.chosen{
    border: solid 2px #4285F4;
}

.btn_answer {
    font-size: 30px;
    padding: 10px 30px;
    margin: 20px auto;
    display: block;
}

.btn_result {
    font-size: 30px;
    padding: 5px 30px;
}

.sentence {
    font-size: 40px;
    margin: 0px auto;
}

.txt_genre {
    font-size: 35px;
    margin: 0px auto;
}

#credit {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
}

#credit p {
    text-align: left;
    font-size: 15px;
}

#answerModal h1 {
    font-size: 100px;
    font-weight: bold;
}
