@charset "UTF-8";

html {
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#btnStart {
    font-size: 60px;
}

#buttons {
    margin: 0 auto;
}

.btn-main {
    width: 100px;
    height: 100px;
    font-size: 30px;
}
